/node_modules
/public/hot
/public/storage
/public/env.js
/public/*/env.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
*/.DS_Store
/public/env/*
/public/env
/storage/excel/*
/storage/excel
/storage/exports/*
/storage/exports
/storage/logs/*
